.pagination {
    border: 0;
    margin: 0;
    padding: 10px 125px;
}

.pagination li {
    padding: 4px 6px;
    font-size: 11px;
    list-style: none;
}

.pagination li,
.pagination a {
    border: solid 1px #DEDEDE;
    margin-right: 2px;
}

.pagination .disabled {
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
}

.pagination .next a,
.pagination .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
}

.pagination .current {
    color: #000000;
    font-weight: bold;
    display: block;
    float: left;
}

.pagination a:link,
.pagination a:visited {
    color: #0033CC;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: none;
}