.pagination {
    border: 0;
    margin: 0;
    padding: 10px 80px;
}

.pagination li {
    padding: 4px 6px;
    font-size: 11px;
    list-style: none;
    float: left;
}

.pagination .disabled {
    color: #888888;
    display: block;
    font-weight: bold;
}

.pagination .next,
.pagination .previous {
    font-weight: bold;
}

.pagination .current {
    color: #000000;
    font-weight: bold;
    display: block;
}

.pagination a:link,
.pagination a:visited {
    color: #0033CC;
    display: block;
    text-decoration: none;
    border-bottom: solid;
}

.pagination a:hover {
    text-decoration: none;
}