#post-pagination {
    border: 0;
    margin: 0;
    padding: 4px 6px;
}

#post-pagination li {
    font-size: 11px;
    list-style: none;
}

#post-pagination li,
#post-pagination a {
    border: solid 1px #DEDEDE;
    margin-right: 2px;
}

#post-pagination .disabled {
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
}

#post-pagination .next a,
#post-pagination .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
}

#post-pagination .current {
    color: #000000;
    font-weight: bold;
    display: block;
    float: left;
}

#post-pagination a:link,
#post-pagination a:visited {
    color: #0033CC;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#post-pagination a:hover {
    text-decoration: none;
}